html{
  background-color: white;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size-adjust: .5;
  font-size: 100%;
  padding: 0 2em;
  margin: 0 auto;
  max-width: 50em;
}

header, footer {
  margin: 1.1em auto;
  padding: 0 1em;
  text-align: center;
}

footer {
  font-size: .8em;
  padding: 1em;
}

section {
  margin: 1em auto;
  line-height: 1.4;
}

h1, h2, p, ul, hr {
  margin: 0;
}

h1, h2 {
  color: #222;
}

ul {
  padding-left: 1em;
}

a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: black;
  text-decoration: underline;
}

ul.items {
  line-height: 1.1;
}

.section-header {
  margin: .5em auto;
}

.item {
  margin: .8em 0;
}

.item-text {
  line-height: 1.1;
}

.description {
  line-height: 1.3;
  margin: .25em auto;
}

.time {
  float: right;
  font-weight: 700;
}

.gpa {
  font-style: italic;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  row-gap: .5em;
  column-gap: 2em;
}

.grid .item {
  margin: 0;
}

.grid .description {
  line-height: 1.1;
}

.techs {
  font-style: italic;
}

#summary, .description {
  text-align: justify;
  text-justify: inter-word;
}

#contact {
  font-size: 0.9em;
  margin: 1em auto 0;
  line-height: 1.5;
}

@media print {
  body {
    padding: 0;
    margin: 0;
  }

  .item {
    page-break-inside: avoid;
  }

  h2 {
    page-break-after: avoid;
  }
}
